<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Wish Genie</title>
  </head>

  <body>
    <nav class="navbar sticky">
      <a href="/"><img src="/img/logo.png" type="image/png" alt="wish genie logo" /></a>

      <ul class="nav-links-container">
          <% if(loggedInUser){ %>
            <li class="nav-link"><a href="/addItem" class="links">Create Wish</a></li>
            <li class="nav-link">
              <form action="/signout" method="post">
                <button type="submit" class="btn-link links">Sign Out</button>
              </form>
            </li>
          <% } %>
      </ul>
    </nav>

    <div class="user-details-container">
      <div class="left">
        <% if(user.avatarUrl){ %>
          <img src="<%=user.avatarUrl%>" alt="user avatar image" />
        <% } else { %>
          <img src="https://robohash.org/default" alt="default user avatar image" />
        <% } %>
        <button class="button-share" onclick="showModal('share-modal')">
          Share Profile
          <i class="fa-regular fa-share-from-square"></i>
        </button>
        <div class="modal-overlay" id="share-modal">
          <%- include('./partials/shareModal.ejs'), { user: user }; %>
        </div>
      </div>
      <div class="right">
        <h3><%=user.fullName%></h3>
        <p>@<%=user.userName%></p>
      </div>
    </div>

    <div class="card-container">
      <% items.forEach(item => { %>
          <div class="card">
            <% if(isMyProfile){ %>
              <form action="/items/<%=item._id%>/delete" method="post">
                <button type="submit" class="btn-link"><i class="fa-solid fa-square-xmark fa-xl" title="Delete Item"></i></button>
              </form>
            <% } %>
            <img src="https://images.unsplash.com/photo-1545239351-ef35f43d514b" alt="default Item Image" style="width:100%">
            <div class="card-details-container">
              <% if(isMyProfile){ %>
                <form action="/items/<%=item._id%>/edit" method="get">
                  <button type="submit" class="btn-link"><i class="fa-regular fa-pen-to-square" title="Edit Item"></i></button>
                </form>
              <% } %>
              <h4><b><%=item.name%></b></h4>
              <p>€<%=item.targetAmount%></p>
              <p><%=item.description%></p>
              <form action="/items/<%=item._id%>" method="get">
                <button type="submit" class="card-button">Gift It Now</button>
              </form>
            </div>
          </div>
      <% }); %>
    </div>

    <script src="/js/profile.js"></script>
  </body>

</html>